.App {
  text-align: center;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e5f74;
}

span {
  margin-left: 6px;
}
.ChangePassword {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
