.searchBar {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;

  background-color: #1e5f74;
  border: 1px solid #1d2d50;
  border-radius: 15px;
  box-shadow: 0px 3px 2px -1px #1d2d50;
  position: relative;
  align-self: center;
  top: -200px;
  color: white;
}
.searchBar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}
.button {
  margin-top: 20px;
  padding: 10px 10px;
}
